@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria-Italic.eot');
  src: local('Geometria Italic'), local('Geometria-Italic'),
  url('./fonts/Geometria-Italic.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Geometria-Italic.woff2') format('woff2'),
  url('./fonts/Geometria-Italic.woff') format('woff'),
  url('./fonts/Geometria-Italic.ttf') format('truetype'),
  url('./fonts/Geometria-Italic.svg#Geometria-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria-MediumItalic.eot');
  src: local('Geometria MediumItalic'), local('Geometria-MediumItalic'),
  url('./fonts/Geometria-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Geometria-MediumItalic.woff2') format('woff2'),
  url('./fonts/Geometria-MediumItalic.woff') format('woff'),
  url('./fonts/Geometria-MediumItalic.ttf') format('truetype'),
  url('./fonts/Geometria-MediumItalic.svg#Geometria-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria-ExtraLight.eot');
  src: local('Geometria ExtraLight'), local('Geometria-ExtraLight'),
  url('./fonts/Geometria-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Geometria-ExtraLight.woff2') format('woff2'),
  url('./fonts/Geometria-ExtraLight.woff') format('woff'),
  url('./fonts/Geometria-ExtraLight.ttf') format('truetype'),
  url('./fonts/Geometria-ExtraLight.svg#Geometria-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria-BoldItalic.eot');
  src: local('Geometria BoldItalic'), local('Geometria-BoldItalic'),
  url('./fonts/Geometria-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Geometria-BoldItalic.woff2') format('woff2'),
  url('./fonts/Geometria-BoldItalic.woff') format('woff'),
  url('./fonts/Geometria-BoldItalic.ttf') format('truetype'),
  url('./fonts/Geometria-BoldItalic.svg#Geometria-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria-ExtraBoldItalic.eot');
  src: local('Geometria ExtraBoldItalic'), local('Geometria-ExtraBoldItalic'),
  url('./fonts/Geometria-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Geometria-ExtraBoldItalic.woff2') format('woff2'),
  url('./fonts/Geometria-ExtraBoldItalic.woff') format('woff'),
  url('./fonts/Geometria-ExtraBoldItalic.ttf') format('truetype'),
  url('./fonts/Geometria-ExtraBoldItalic.svg#Geometria-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria-Bold.eot');
  src: local('Geometria Bold'), local('Geometria-Bold'),
  url('./fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Geometria-Bold.woff2') format('woff2'),
  url('./fonts/Geometria-Bold.woff') format('woff'),
  url('./fonts/Geometria-Bold.ttf') format('truetype'),
  url('./fonts/Geometria-Bold.svg#Geometria-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria.eot');
  src: local('Geometria'),
  url('./fonts/Geometria.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Geometria.woff2') format('woff2'),
  url('./fonts/Geometria.woff') format('woff'),
  url('./fonts/Geometria.ttf') format('truetype'),
  url('./fonts/Geometria.svg#Geometria') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria-Medium.eot');
  src: local('Geometria Medium'), local('Geometria-Medium'),
  url('./fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Geometria-Medium.woff2') format('woff2'),
  url('./fonts/Geometria-Medium.woff') format('woff'),
  url('./fonts/Geometria-Medium.ttf') format('truetype'),
  url('./fonts/Geometria-Medium.svg#Geometria-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria-ExtraBold.eot');
  src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
  url('./fonts/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Geometria-ExtraBold.woff2') format('woff2'),
  url('./fonts/Geometria-ExtraBold.woff') format('woff'),
  url('./fonts/Geometria-ExtraBold.ttf') format('truetype'),
  url('./fonts/Geometria-ExtraBold.svg#Geometria-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria-Thin.eot');
  src: local('Geometria Thin'), local('Geometria-Thin'),
  url('./fonts/Geometria-Thin.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Geometria-Thin.woff2') format('woff2'),
  url('./fonts/Geometria-Thin.woff') format('woff'),
  url('./fonts/Geometria-Thin.ttf') format('truetype'),
  url('./fonts/Geometria-Thin.svg#Geometria-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria-ThinItalic.eot');
  src: local('Geometria ThinItalic'), local('Geometria-ThinItalic'),
  url('./fonts/Geometria-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Geometria-ThinItalic.woff2') format('woff2'),
  url('./fonts/Geometria-ThinItalic.woff') format('woff'),
  url('./fonts/Geometria-ThinItalic.ttf') format('truetype'),
  url('./fonts/Geometria-ThinItalic.svg#Geometria-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria-LightItalic.eot');
  src: local('Geometria LightItalic'), local('Geometria-LightItalic'),
  url('./fonts/Geometria-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Geometria-LightItalic.woff2') format('woff2'),
  url('./fonts/Geometria-LightItalic.woff') format('woff'),
  url('./fonts/Geometria-LightItalic.ttf') format('truetype'),
  url('./fonts/Geometria-LightItalic.svg#Geometria-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria-HeavyItalic.eot');
  src: local('Geometria HeavyItalic'), local('Geometria-HeavyItalic'),
  url('./fonts/Geometria-HeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Geometria-HeavyItalic.woff2') format('woff2'),
  url('./fonts/Geometria-HeavyItalic.woff') format('woff'),
  url('./fonts/Geometria-HeavyItalic.ttf') format('truetype'),
  url('./fonts/Geometria-HeavyItalic.svg#Geometria-HeavyItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria-Heavy.eot');
  src: local('Geometria Heavy'), local('Geometria-Heavy'),
  url('./fonts/Geometria-Heavy.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Geometria-Heavy.woff2') format('woff2'),
  url('./fonts/Geometria-Heavy.woff') format('woff'),
  url('./fonts/Geometria-Heavy.ttf') format('truetype'),
  url('./fonts/Geometria-Heavy.svg#Geometria-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria-Light.eot');
  src: local('Geometria Light'), local('Geometria-Light'),
  url('./fonts/Geometria-Light.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Geometria-Light.woff2') format('woff2'),
  url('./fonts/Geometria-Light.woff') format('woff'),
  url('./fonts/Geometria-Light.ttf') format('truetype'),
  url('./fonts/Geometria-Light.svg#Geometria-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria-ExtraLightItalic.eot');
  src: local('Geometria ExtraLightItalic'), local('Geometria-ExtraLightItalic'),
  url('./fonts/Geometria-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Geometria-ExtraLightItalic.woff2') format('woff2'),
  url('./fonts/Geometria-ExtraLightItalic.woff') format('woff'),
  url('./fonts/Geometria-ExtraLightItalic.ttf') format('truetype'),
  url('./fonts/Geometria-ExtraLightItalic.svg#Geometria-ExtraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}
*{
  -webkit-font-smoothing: antialiased;
}
a{
  color:#4a90e2;
}
html, body{
  font-family: 'Geometria';
  width:100%;
  color:#000000;
  font-size: 14px;
}
html{
  height:100%;
}
body{
  min-height: 810px;
  position: relative;

}
h2 {
  font-family: 'Geometria';
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #000000;
}
.underline{
  text-decoration: underline;
}

.main-bg {
  background: url(/images/bg.jpg)top no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
  padding-top: 190px;
  padding-bottom: 25px;
  min-height: 730px;
}
#main{
  min-height: 100vh;
  height: 100%;
  overflow-y: hidden;
  padding-bottom: 75px;
}
header.header {
  position: absolute;
  z-index: 2;
  border-bottom: 1px solid #fff;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all .5s; /* Safari */
  transition: all .5s;
  margin: 0 auto;
}
.wrapper{
  max-width:1440px;
  margin:0 auto;
  padding:0 65px;
}
header .nav.menu{
  width: 100%;
  justify-content: space-evenly;
  font-size: 13px;
  font-weight: 500;
}
header .nav.menu a{
  color:#fff;
}
.logo-right {
  background: #fff;
  padding: 20px 14px;
}
h1{
  font-size:60px;
  line-height: 1.18;
  font-weight: bold;
}
.white{
  color:#fff;
}
h2.white{
  font-size:28px;
  line-height: 1.5;
  font-weight: 400;
}
.nomargin{
  margin:0;
}
.news-ctn{
  background-color: rgba(0, 83, 146, 0.8);
  padding: 24px;
}
.news-ctn h3{
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom:0px;
  padding-bottom:16px;
  border-bottom: solid 2px #ffffff;
}
.news-title {
  font-size: 16px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10px;
}
.news-title a{
  color: #fff;
}
.news-date span{
  background: #439bde;
  font-size: 12px;
  color: #fff;
  padding:4px;
}
.news-list {
  padding-top: 18px;
  padding-bottom: 9px;
  border-bottom: 1px solid #fff;
}
.main-bg .wrapper{
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  justify-content: space-around;
}
.btn-new{
  border-radius: 19.5px;
  background-color: #fff;
  font-size: 12px;
  color: #005392;
  padding: 6px 0px;
  border: 1px solid #005392;
  text-align: center;
  min-width: 137px;
}
.filled{
  color: #fff;
  background-color: #005392;
}
.foo-separator {
  width: 0.1px;
  height: 49px;
  border: solid 1px #cfcfd1;
}
footer.footer {
  padding: 13px 0px;
  position:absolute;
  bottom:0;
  background:#fff;
  width:100%;
}
.read-more-news{
  margin-top:19px
}
.read-more-news a{
  color:#fff;
  font-size: 14px;
}
.read-more-news img{
  padding-left:15px;
}
.col-fixed{
  max-width:350px;
}
.main-page-block h2{
  margin-bottom: 30px;
}
.main_menu .nav-child > div{
  height: 0%;
  padding: 0;
  overflow: hidden;
  -webkit-transition: height .5s, padding .5s; /* Safari */
  transition: height .5s, padding .5s;
  background:#fff;
}
.main_menu .nav-child {
  position: absolute;
  width: 100%;
  left: 0;
  height:0;
  top: 58px;
  padding-top: 45px;
  pointer-events: none;
  -webkit-transition: height .5s, padding .5s; /* Safari */
  transition: height .5s, padding .5s;
}
.main_menu li:hover .nav-child{
  pointer-events: all;
  -webkit-transition: height .5s, padding .5s; /* Safari */
  transition: height .5s, padding .5s;
}
.main_menu li:hover .nav-child > div{
  height: fit-content;
  padding: 13px 0px;
  border-top:1px solid #c7c7c7;
}
.inner-menu{
  width:100%;
  margin-left: 0;
}
.main_menu .item-108:hover .nav-child li, .main_menu .item-107:hover .nav-child li{
  padding-bottom: 5px;
  flex: 0 1 33% !important;
}
.main_menu li:hover .nav-child li{
  padding-bottom: 5px;
  flex: 0 1 calc(25%)
}
.main_menu .nav-child  ul {

  font-size: 14px;
  line-height: 1.93;
  font-weight: 400;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  width: 100%;

}
.main_menu .nav-child ul a{
  color:#000 !important;
}
.h1-Black{
  font-family: 'Geometria';
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.inner-page .header{
  background-color: #ffffff;

}
.inner-page .header{
  box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.2);
}
.inner-page header .nav.menu a {
  color: #000;
}
.fixed{
  position:fixed !important;
}
.left-row:before {
  content: '';
  background: #f8f8f8;
  position: absolute;
  right: 0;
  width: 100vw;
  height: 100%;
  min-height: 200vh;
  top: 0;
}
.float-header > div{
  padding-top:160px;
  padding-bottom: 180px;
}
.breadcrumbs{
  line-height: 1.43;
  font-size: 14px;
  margin-bottom: 15px;
}
.breadcrumbs *{
  color: #a0a0a0 !important;
  text-decoration:  #a0a0a0 !important;
}
b.medium{
  font-weight: 500;
}
.header-separation h1{
  padding-bottom:35px;
}
.header-separation h2{
  padding-top:20px;
  margin-bottom: 35px;
}
.header-separation{
  font-size:16px;
  line-height: 1.75;
}
.inner-page #main{
  height:auto;
}
.number li:before{
  content: counter(my-counter);
  counter-increment: my-counter;
  display: block;
  position: absolute;
  left: 0;
  width: 28px;
  height: 28px;
  border: solid 1px #439bde;
  text-align: center;
  border-radius: 150px;
  line-height: 1.8;
  top: -1px;
}
.number > ul{
  margin-left: 30px;
}
.number > li {
  padding-left: 40px;
  position: relative;
  padding-bottom: 30px;
}
.number{
  counter-reset: my-counter;
  list-style: none;
  padding: 0;
  position: relative;
  line-height: 1.75;
}
footer{
  border-top:1px solid #D5D5D5;
}
.float-header .blockcontent{
  position:relative;
}
.left-menu{
  list-style: none;
  padding-left: 65px;
  padding-top: 60px;
}
.left-menu > li:before{
  content: '';
  display: inline-block;
  width: 40px;
  height: 1px;
  background: #000000;
  position: absolute;
  left: -65px;
  top: 9px;
}
.left-menu > li{
  position: relative;
  padding-bottom: 35px;
}
.left-menu > li > a{
  font-size: 14px;
  color: #000;
}
.left-menu .nav-child{
  padding-left: 0px;
  list-style-type:none;
  padding-top: 20px;
}
.left-menu .nav-child li{
  padding-bottom:15px;
}
.left-menu .nav-child li:last-child{
  padding-bottom:0px;
}
.left-menu .nav-child  a{
  font-size: 12px;
  font-weight: 300;
  color:#000
}
.main-page-ctn{
  max-width:73%;
}
.main-page-icn {
  border-bottom: solid 2px #439bde;
  padding-bottom: 9px;
}
.main-page-ctn p{
  font-size: 12px;
  font-weight: 500;
  margin-top:9px;
  margin-bottom:0;
}
.h100{
  height:100%;
}
#accordion h5{
  padding: 36px 0px;
  border-bottom: 1px solid #cfcfd1;
}
#accordion h5 > a{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  text-decoration: none !important;
  vertical-align: middle;
}
#accordion .acc-header.active h5 a:before{
  background: url(/images/i_arrow_a.svg)no-repeat;
  transform: rotate(90deg);

}
#accordion h5 a:before{
  content: '';
  width: 28px;
  height: 28px;
  margin-top: -4px;
  display: inline-block;
  background: url(/images/i_arrow.svg)no-repeat;
  vertical-align: middle;
  margin-right: 29px;
  -webkit-transition: transform .5s; /* Safari */
  transition: transform .5s;
}
#accordion > div > div:nth-child(2){
  padding: 35px 30px;
}
#accordion.active{
  box-shadow: 1px 2px 7px 0 rgba(0, 0, 0, 0.2);
}
#accordion h5{
  padding-left:15px;
}
.border-blue{
  border: solid 2px #005392;
  padding:20px 50px;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
}
.story-ctn{
  padding-top:35px;
}
.story-ctn p{
  margin-bottom:15px;
}
.right-row{
  padding-left:30px;
  overflow-y: hidden;
  min-height: -webkit-fill-available;
}

.dash{
  list-style: none;
  padding-left: 30px;
  margin-bottom:0;
}
.dash li:before{
  content: '';
  display: block;
  position: absolute;
  width: 15px;
  height: 1px;
  background: #439bde;
  top: 14px;
  left: -23px;
}
.dash > li{
  position:relative;
  padding-bottom:15px;
}
.row-header{
  border-bottom: 2px solid #439bde;
  padding-bottom: 8px;
  margin-bottom: 30px;
  margin-top: 55px;
}
.row-ctn:first-child{
  padding-top:0px;
}
.row-ctn:last-child{
  border:0px;
}
.row-ctn {
  border-bottom: solid 1px #dfdfdf;
  padding-bottom: 30px;
  padding-top: 30px;
}
.row-ctn .col-sm-6{
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 30px;
}
.row-ctn .col-sm-6:last-child{
  border-bottom:0px;
}
.row-ctn .col-sm-6:nth-last-child(2){
  border-bottom:0px;
}
.inner-page .item-111 a{
  color: #439bde !important;
}
.add-ico,.phone-ico,.mail-ico{
  position: relative;
  padding-left: 45px;
}
.add-ico:before,.phone-ico:before,.mail-ico:before{
  content:'';
}
.add-ico:before{
  width: 18px;
  height: 25px;
  background: url(/images/ico_5.svg)no-repeat;
  display: block;
  position: absolute;
  top: 0px;
  background-size: contain;
  left:0;
}
.phone-ico:before{
  width: 20px;
  height: 20px;
  display: block;
  background: url(/images/ico_6.svg)no-repeat;
  background-size: contain;
  position: absolute;
  top: 15px;
  left:0;
}
.mail-ico:before{
  width: 18px;
  height: 25px;
  background: url(/images/ico_7.svg)no-repeat;
  display: block;
  position: absolute;
  top: 7px;
  background-size: contain;
  left:0;
}
#maps{
  width:100%;
  height: 685px;
  margin-top:80px;
}
#shadow{
  -webkit-transition: background .5s; /* Safari */
  transition: background .5s;
}
#shadow.active{
  position: absolute;
  background: rgba(0, 0, 0, 0.50);
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transition: background .5s; /* Safari */
  transition: background .5s;
}


/* Vacancies */
.vacancy-ctn{
  box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
.vacancy-title{
  background-color: #005392;
  padding: 10px 15px;
}
.vacancy-title h2{
  font-size: 17px;
  margin:0;
  color:#fff;
}
.vacancy-desc{
  min-height: 110px;
}
.vacancies-list a{
  color:#000 !important;
  text-decoration: none !important;
}
.vacancy-desc,.vacancy-logo{
  padding:15px;
}
.vacancy-desc p{
  font-size:16px;
}
.vacancies-list {
  margin-top: 40px;
}
.vacancy-logo{

}
.vacancy-logo img{
  max-height:60px;
}
.chief-list {
  padding-top: 50px;
}
.chief-pic{
  height: 310px;
  position: relative;
  overflow: hidden;
}
.chief-pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1);
  -webkit-transition: all .5s; /* Safari */
  transition: all .5s;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #cee8e9 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%,#cee8e9 100%);
  background: linear-gradient(to bottom, #ffffff 0%,#cee8e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cee8e9',GradientType=0 );
}
.chief-info{
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  padding: 15px 10px;
  background-color: rgba(0, 83, 146, 0.75);
  width: 100%;
}
.chief-position{
  box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.2);
  min-height: 115px;
  padding: 10px;
  line-height: 1.44;
  font-size: 16px;
}
.chief-ctn {
  margin-bottom: 30px;
  cursor: pointer;
}
.in-chief-pic{
  height: 700px;
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #cee8e9 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%,#cee8e9 100%);
  background: linear-gradient(to bottom, #ffffff 0%,#cee8e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cee8e9',GradientType=0 );
}
.in-chief-pic img{
  margin: 0 auto;
  width: 100%;
  position:relative;
  top:-80px;
}
.in-chief-info{
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  padding-top: 30px;
  padding-bottom: 15px;
}
.in-chief-resume{
  font-size: 16px;
  line-height: 1.75;
  padding-bottom: 30px;
}
.in-chief-position{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  padding-bottom: 30px;
  border-bottom: solid 2px #005392;
  margin-bottom: 30px;
}
.chiefs-ctn{
  position: relative;
  background: #fff;

  transform: translate3d(150%, 0px, 0px);
  -webkit-transition: transform .5s; /* Safari */
  transition: transform .5s;

}
.chiefs-ctn.active{
  transform: translate3d(0%, 0px, 0px);

}
.close-panel{
  position: absolute;
  top: 30px;
  right: 40px;
}
.chiefs-ctn .carousel-inner{
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}
.in-car-ctn{
  padding: 0 30px;
}
.car-prev{
  display: block;
  width: 47px;
  height: 47px;
  background: url(/images/arrow-left.svg)no-repeat;
  position: absolute;
  top: calc(700px/2 - 47px);
  background-size: cover;
  left: 40px;
}
.car-next{
  display: block;
  width: 47px;
  height: 47px;
  background: url(/images/arrow-right.svg)no-repeat;
  position: absolute;
  top: calc(700px/2 - 47px);
  background-size: cover;
  right: 40px;
}
.car-prev span{

}
.car-next span{

}
.armz_structure svg{
  padding-top:50px;
}
#pills-tab {
  justify-content: space-between;
  text-align: center;
  border-radius: 21.5px;
  background-color: #ffffff;
  box-shadow: 1px 2px 7px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
#pills-tab > li{
  flex:1
}
#pills-tab .nav-link{
  border:0px;
  border-radius:0px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0px;
}

#pills-tab .nav-link.active, #pills-tab .show > .nav-link{
  background-color: #439bde;
  color:#fff;
}
#pills-tab{
  margin-bottom:40px;
}
.chief-ctn:hover .chief-pic img{
  transform: scale(1.1);
}
