.icon-48-companies {
      background-image: url(../images/l_companies.png);
      padding-left:60px!important;
}

.icon-48-company {
      background-image: url(../images/l_companies.png);
      padding-left:60px!important;
}

.color-box-companies { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-vacancies {
      background-image: url(../images/l_vacancies.png);
      padding-left:60px!important;
}

.icon-48-vacancy {
      background-image: url(../images/l_vacancies.png);
      padding-left:60px!important;
}

.color-box-vacancies { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}